<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!--
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    <property name="LOG_FILE"
              value="app-batch-supervision.log"/>

    <logger name="com.adreeana.batch.supervision" additivity="false"
            level="INFO">
        <appender-ref ref="FILE"/>
    </logger>
    -->

</configuration>